@import "./markdown.css";

$primary: #008080;
$secondary: #00ffff;
$accent: #000;
$warning: #ffbcb9;
$error: #e4615d;
$info: #b7d0d0;
$success: #bef264;

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: $accent;
  color-scheme: dark;
}

$f-title: "Roboto", sans-serif;
$f-body: "Open Sans", sans-serif;

@mixin centre($axis: "both") {
  position: absolute;
  @if $axis == "y" {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @if $axis == "x" {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  @if $axis == "both" {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
  }
}
@mixin font-size($sizeValue: 1.6, $lineHeight: 2.4) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
  line-height: ($lineHeight * 10) + px;
}
@mixin animation($animate...) {
  $max: length($animate);
  $animations: "";

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@include keyframes(outerRotate1) {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@include keyframes(outerRotate2) {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@include keyframes(textColour) {
  0% {
    color: #fff;
  }
  100% {
    color: #00ffff;
  }
}

.e-loadholder {
  @include centre();
  border: 5px solid $primary;
  border-radius: 120px;
  box-sizing: border-box;

  &:after {
    @include centre;
    content: " ";
    display: block;
    background: $accent;
    transform-origin: center;
    z-index: 0;
  }

  &:after {
    width: 100px;
    height: 200%;
    @include animation("outerRotate2 20s infinite linear");
  }

  .m-loader {
    @include centre();
    width: 200px;
    height: 200px;
    color: #888;
    text-align: center;
    border: 5px solid lighten($primary, 15%);
    border-radius: 100px;
    box-sizing: border-box;
    z-index: 20;
    text-transform: capitalize;

    &:after {
      @include centre;
      content: " ";
      display: block;
      background: $accent;
      transform-origin: center;
      z-index: -1;
    }

    &:after {
      width: 100px;
      height: 106%;
      @include animation("outerRotate1 5s infinite alternate");
    }

    .e-text {
      @include font-size(1.4, 13);
      @include centre();
      @include animation("textColour 1s alternate linear infinite");
      display: block;
      width: 140px;
      height: 140px;
      text-align: center;
      border: 5px solid lighten($primary, 25%);
      border-radius: 70px;
      box-sizing: border-box;
      z-index: 20;

      &:before,
      &:after {
        @include centre;
        content: " ";
        display: block;
        background: $accent;
        transform-origin: center;
        z-index: -1;
      }

      &:before {
        width: 110%;
        height: 40px;
        @include animation("outerRotate2 3.5s infinite linear");
      }
      &:after {
        width: 40px;
        height: 110%;
        @include animation("outerRotate1 8s infinite linear");
      }
    }
  }
}

#particleCanvas-White {
  @include centre();
  width: 100%;
  height: 50%;
  opacity: 0.1;
}

#particleCanvas-Blue {
  @include centre();
  width: 300px;
  height: 300px;
}

.threedrotate {
  animation: threedrotate 1.5s infinite linear;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  perspective: 1000px;
}

@keyframes threedrotate {
  0% {
    transform: rotate3d(15, 30, 45, 0deg);
  }
  100% {
    transform: rotate3d(15, 30, 45, 360deg);
  }
}

/* Apply animation to the element */
.element {
  animation: rotate 3s infinite linear;
}

pre {
  line-height: 125%;
}
td.linenos .normal {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
span.linenos {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
td.linenos .special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
span.linenos.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
.hll {
  background-color: #ffffcc;
}
.c {
  color: #3d7b7b;
  font-style: italic;
}
.err {
  border: 1px solid #ff0000;
}
.k {
  color: #008000;
  font-weight: bold;
}
.o {
  color: #666666;
}
.ch {
  color: #3d7b7b;
  font-style: italic;
}
.cm {
  color: #3d7b7b;
  font-style: italic;
}
.cp {
  color: #bef264;
}
.cpf {
  color: #3d7b7b;
  font-style: italic;
}
.c1 {
  color: #3d7b7b;
  font-style: italic;
}
.cs {
  color: #3d7b7b;
  font-style: italic;
}
.gd {
  color: #a00000;
}
.ge {
  font-style: italic;
}
.gr {
  color: #e40000;
}
.gh {
  color: #000080;
  font-weight: bold;
}
.gi {
  color: #008400;
}
.go {
  color: #717171;
}
.gp {
  color: #000080;
  font-weight: bold;
}
.gs {
  font-weight: bold;
}
.gu {
  color: #800080;
  font-weight: bold;
}
.gt {
  color: #0044dd;
}
.kc {
  color: #008000;
  font-weight: bold;
}
.kd {
  color: #008000;
  font-weight: bold;
}
.kn {
  color: #008000;
  font-weight: bold;
}
.kp {
  color: #008000;
}
.kr {
  color: #008000;
  font-weight: bold;
}
.kt {
  color: #ffbcb9;
}
.m {
  color: #666666;
}
.s {
  color: #00ffff;
}
.na {
  color: #687822;
}
.nb {
  color: #008000;
}
.nc {
  color: pink;
  font-weight: bold;
}
.no {
  color: #880000;
}
.nd {
  color: #aa22ff;
}
.ni {
  color: #717171;
  font-weight: bold;
}
.ne {
  color: #cb3f38;
  font-weight: bold;
}
.nf {
  color: pink;
}
.nl {
  color: #7676;
}
.nn {
  color: pink;
  font-weight: bold;
}
.nt {
  color: #008000;
  font-weight: bold;
}
.nv {
  color: #19177c;
}
.ow {
  color: #aa22ff;
  font-weight: bold;
}
.w {
  color: #bbbbbb;
}
.mb {
  color: #666666;
}
.mf {
  color: #666666;
}
.mh {
  color: #666666;
}
.mi {
  color: #666666;
}
.mo {
  color: #666666;
}
.sa {
  color: #00ffff;
}
.sb {
  color: #00ffff;
}
.sc {
  color: #00ffff;
}
.dl {
  color: #00ffff;
}
.sd {
  color: #00ffff;
  font-style: italic;
}
.s2 {
  color: #00ffff;
}
.se {
  color: #aa5d1f;
  font-weight: bold;
}
.sh {
  color: #00ffff;
}
.si {
  color: #a45a77;
  font-weight: bold;
}
.sx {
  color: #008000;
}
.sr {
  color: #a45a77;
}
.s1 {
  color: #00ffff;
}
.ss {
  color: #19177c;
}
.bp {
  color: #008000;
}
.fm {
  color: pink;
}
.vc {
  color: #19177c;
}
.vg {
  color: #19177c;
}
.vi {
  color: #19177c;
}
.vm {
  color: #19177c;
}
.il {
  color: #666666;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #8f8f8f, #e6e6e6);
  border: 3px solid #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, #737373, #bfc1c2);
}


